body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	display: inline;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;  
}

nav {
	width: 78%;
	display: flex;
	justify-content: center;
	
	position: absolute;

	right: 5px;
	margin-top: 55px;
	
	background: #182952;
}

#sitemap{
	position: relative;
	float: right;
	right: 10vw;
	top: 25px;
}

#sitemap > a {
	color: gray;
	text-decoration: none;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#logo {
	position: absolute;
	width: 16%;
	height: 150px;
	margin: 15px;
	margin-left: 40px;
}

#main-menu > li {
	float: left;
	position: relative;
}

#main-menu > li > a {
	font-size: 1.2vw;
	color: rgba(255,255,255,0.85);
	text-align: center;
	text-decoration: none;
	letter-spacing: 0.05em;
	display: block;
	padding: 20px 70px;
	border-right: 1px solid #FFFFFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

#main-menu > li:nth-child(1) > a {
	border-left: 1px solid #FFFFFF;
}

#sub-menu {
	position: absolute;
	background: #182952;
	opacity: 0;
	visibility: hidden;
	transition: all 0.15s ease-in;
}

#sub-menu > li {
	padding: 16px 70px;
	border-bottom: 1px solid white;
	position: relative;
	text-align: center;
}

#sub-menu > li > a {
	color: rgba(255,255,255,0.6);
	text-decoration: none;
	font-size: 1vw;
	margin: 0 auto;	
	text-align: center;
}

#main-menu > li:hover #sub-menu {
	opacity: 1;
	visibility: visible;
}

#sub-menu > li > a:hover {
 text-decoration: underline;
}

