<!DOCTYPE html>
{% extends "menu.html" %}
{% load static %}
<html lang="kor">
	<head>
		<link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
	</head>
	<body>
		{% block content %}
		<ul>
			<li><a href="/engine_material/">조선엔진기자재</a>
				<ol type="I">
					<li><a href="/engine_material/#Expansion_Joint">Expansion Joint</a></li>
					<li><a href="/engine_material/#SCR">박용 SCR Dosing/Supply Unit</a></li>
					<li>LED Lighting</li>
				</ol>
			</li>
			<li>원자재
				<ol type="I">
					<li>(Supper)Duplex,6Mo.plate/Bar</li>
					<li>Fitting/Flange</li>
					<li>Carbon Steel SMLS pipe</li>
					<li>형강류</li>
				</ol>
				</li>
				<li>방청제	
				<ol type="I">
					<li>기화성 방청제</li>
					<li>방청유</li>
				</ol>
			</li>
			<li>장비&제작
				<ol type="I">
					<li>Crane 제작 및 개보수</li>
					<li>Welding 장비 제작 및 개보수</li>
				</ol>
				</li>
				<li>산업용 부품
					<ol type="I">
						<li>Casting/Forging</li>
						<li>중소형 제관 및 가공품</li>
						<li>중장비 부품</li>
						<li>건설용 Coupler</li>
						<li>Load Bank</li>
						<li>Filter</li>
					</ol>
				</li>
				<li>컨설팅
					<ol type= "I">
						<li>Alpha Sight</li>
					</ol>
				</li>
			</li>
		</ul>
		{% endblock %}
	</body>
</html>
