<!DOCTYPE html>
{% extends "menu.html" %}
{% load static %}
<html lang="kor">
	<head>
		<link rel="stylesheet" href="{% static 'css/menu.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
	</head>
	<body>
		<ul>
			<li>조선엔진기자재
				<ol type="I">
					<li>Expansion Jonint</li>
					<li>박용 SCR Dosing/supply unit</li>
					<li>LED Lighting</li>
				</ol>
			</li>
			<li>원자재
				<ol type="I">
					<li>(Supper)Duplex,6Mo.plate/Bar</li>
					<li>Fitting/Flange</li>
					<li>Carbon Steel SMLS pipe</li>
					<li>형강류</li>
				</ol>
				</li>
				<li>방청제	
				<ol type="I">
					<li>기화성 방청제</li>
					<li>방청유</li>
					</ol>
			</li>
			<li>장비및제작
				<ol type="I">
					<li>Crame 제작 및 개보수/</li>
					<li>Welding 장비 제작 및 개보수</li>
				</ol>
				</li>
				<li>산업용 부품
					<ol type="I">
						<li>Casting/Forging</li>
						<li>중소형 제관 및 가공물</li>
						<li>중장비 부품</li>
						<li>건설용 coupler</li>
						<li>Load Bank</li>
						<li>Filter</li>
					</ol>
				</li>
				<li>컨설팅
					<ol type= "I">
						<li>Alpha Sight</li>
					</ol>
				</li>
				</ul>

	</body>
</html>
