<!doctype html>
{% extends 'menu.html' %}
{% load static %}
<html lang="kor">
	<head>

	</head>
	<body>
		{% block content %}
		<a href="https://www.google.co.kr/maps/place/%EB%B6%80%EC%82%B0%EA%B4%91%EC%97%AD%EC%8B%9C+%ED%95%B4%EC%9A%B4%EB%8C%80%EA%B5%AC+%EC%A4%91%EB%8F%99+%ED%95%B4%EC%9A%B4%EB%8C%80%EB%A1%9C+732/@35.1656606,129.1673107,17z/data=!3m1!4b1!4m5!3m4!1s0x35688d6e9bb38dc5:0x657c916d61bd43fc!8m2!3d35.1656606!4d129.1694994?hl=ko" target="_blank"><img src="{% static 'img/map.png' %}"></a>
	 		<p>
				부산광역시 해운대구 해운대로 732 101-903<br>
				(48101)
			</p>
			<p> 010 - 4567 - 5496 </p>
		{% endblock %}
	</body>
</html>	
