<!DOCTYPE html>
{% extends "menu.html" %}
{% load static %}
<html lang="kor">
	<head>
		<link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
	</head>
	<body>
		{% block content %}
		<h1>산업용 부품</h1>

		<h2><a name="casting/forging">Casting/Forging</a></h2>
			<img src="{% static 'img/ casting_1'%}"/>
			<img src="{% static 'img/ casting_2'%}"/>
		<hr>

		<h2><a name="small_processed_goods">중소형 제관 및 가공품</a></h2>
			<img src="{% static 'img/ Small_goods_1'%}"/>
			<img src="{% static 'img/ Small_goods_2'%}"/>
			<img src="{% static 'img/ Small_goods_3'%}"/>
			<img src="{% static 'img/ Small_goods_4'%}"/>
		<hr>

		<h2><a name="heavy_equipment">중장비 부품</a></h2>
			<img src="{% static 'img/ Heavy_equipment_1'%}"/>
			<img src="{% static 'img/ Heavy_equipment_2'%}"/>
		<hr>

		<h2><a name="construction_coupler">건설용coupler</a></h2>
			<img src="{% static 'img/ Structure_coupler_1'%}"/>
			<img src="{% static 'img/ Structure_coupler_2'%}"/>
		<hr>

		<h2><a name="load_bank">Load Bank</a></h2>
			<img src="{% static 'img/ Load_Bank_1'%}"/>
		<hr>

		<h2><a name="filter">Filter</a></h2>
			<img src="{% static 'img/ Filter_1'%}"/>
			<img src="{% static 'img/ Filter_2'%}"/>



		{% endblock %}
	</body>
</html>
