<!DOCTYPE html>
<html lang="kor">
	<head>
		{% load static %}
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=euc-kr" />
		<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon"/>
		<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon"/>
		<link rel="stylesheet" href="{% static 'css/menu.css' %}" type="text/css"/>
		<title>Hyunjin</title>

	</head>
	<body>
		<nav role="navigation">
			<ul id="main-menu">
				<li><a href="#">MENU1</a></li>
				<li><a href="#">MENU2</a>
					<ul id="sub-menu">
						<li><a href="#" aria-label="subemnu">submenu</a></li>
						<li><a href="#" aria-label="subemnu">submenu</a></li>
						<li><a href="#" aria-label="subemnu">submenu</a></li>
						<li><a href="#" aria-label="subemnu">submenu</a></li>
					</ul>
				</li>
				<li><a href="#">MENU3</a>
					<ul id="sub-menu">
						<li><a href="#" aria-label="subemnu">submenu</a></li>
						<li><a href="#" aria-label="subemnu">submenu</a></li>
						<li><a href="#" aria-label="subemnu">submenu</a></li>
						<li><a href="#" aria-label="subemnu">submenu</a></li>
					</ul>
				</li>
				<li><a href="#">MENU4</a>
					<ul id="sub-menu">
						<li><a href="#" aria-label="subemnu">submenu</a></li>
						<li><a href="#" aria-label="subemnu">submenu</a></li>
						<li><a href="#" aria-label="subemnu">submenu</a></li>
						<li><a href="#" aria-label="subemnu">submenu</a></li>
						<li><a href="#" aria-label="subemnu">submenu</a></li>
					</ul>
				</li>
				<li><a href="#">MENU5</a></li>
				<li><a href="#">MENU6</a></li>
			</ul>
		</nav>
	</body>
</html>
