<!DOCTYPE html>
{% extends 'menu.html' %}
{% load static %}
<html lang="kor">
	<head>
		<link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
	</head>
	<body>
		{% block content %}
			<h1> 공지 사항 </h1>
			<table>
				<thead>
					<tr>
						<th>제목</th>
						<th>작성일</th>
					</tr>
				</thead>
				<tbody>
					{% for post in posts %}
						<tr>
							<td> <a href="#"> {{ post.name }} </a></td>
							<td> {{ post.date }} </td>
						</tr>
					{% endfor %}
				<tbody>
			</table>
<!--
			<a href="/notice_create/"><button> 글작성 </button></a>
-->
		{% endblock %}
	</body>
</html>
