<!DOCTYPE html>
{% extends "menu.html" %}
{% load static %}
<html lang="kor">
	<head>
		<link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
	</head>
	<body>
		{% block content %}
		<h1>원자재</h1>

		<h2><a name="Duplex">(Supper)Duplex,6Mo.plate/Bar</a></h2>
		<img src="{% static 'img/Duplex_1.png' %}" />
		<img src="{% static 'img/Duplex_2.png' %}" />
		<hr>

		<h2><a name="Fitting">Fitting/Flange</a></h2>
		<img src="{% static 'img/Flange_1.png' %}" />
		<img src="{% static 'img/Flange_2.png' %}" />
		<hr>

		<h2><a name="SMLS_pipe">Carbon Steel SMLS pipe</a></h2>
		<img src="{% static 'img/SMLS_1.png' %}" />
		<img src="{% static 'img/SMLS_2.png' %}" />
		<hr>

		<h2><a name="hollow_section">형강류</a></h2>
		<h3> Special Steel </h3>
		<img src="{% static 'img/Special_Steel_1.png' %}" />
		<img src="{% static 'img/Special_Steel_2.png' %}" />
		<h3> Pipe / Plate </h3>
		<img src="{% static 'img/Pipe.png' %}" />
		<img src="{% static 'img/Plate.png' %}" />
		
		
		{% endblock %}
	</body>
</html>
