<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{% static 'css/login.css' %}">
		<style>
			body{
				background-image: url({% static 'image/nuit.jpg' %});
				background-repeat: no-repeat;
				background-size: cover;
			}
		</style>
		<title>login</title>
	</head>
	<body>
		<h1>로그인</h1>
		<br><br><br>
		<form name="login_form" method="post" action="/login/">
			{% csrf_token %}
			<div class="form-group">
				<h3>아이디</h3>
				<input class="form-control" placeholder="" type="text" name="username" id="username"/>
			</div>
			<br><br><br>
			<div class="form-group">
				<h3>비밀번호</h3>
				<input class="form-control" id="password" placeholder="" type="password" name="password"/>
			</div>
			<br><br>
			<button type="submit" class="btn">로그인</button>
		</form>
		<br>
		<div>
			<a href="/signup/">
				<button class="btn">회원가입</button>
			</a>
		</div>
	</body>
</html>
